<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wealth Creation - Real Estate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<div class="container">
  <div class="row">
    <div>
        <img src="../static/images/real_estate.jpg" alt="Real Estate" width="1100px" height="350px"/>
        <hr>
        <div>
          <h1><u><center>Wealth Creation through Real Estate</center></u></h1>
        </div>
    </div>
  </div>

  </br>
  </br>

    <div class="row">
        <h5>When we think about how we are creating wealth through real estate, there are 3 ways that work together simultaneously:
        </br>
          <u><center>Equity Through Amortization, Housing Appreciation, and Tax Benefits.</center></u></h5>
    </div>
    </br>
      <h6>
        Use this Tool to determine the potential wealth created via Owning real estate versus Renting. Enter your scenario below and click Submit to see the Results. 
        There are certain assumptions that are made such as having no HOA Fees for the property. The loan is a Conventional Loan and regardless of the LTV entered below,
        there is no Mortgage Insurance. The loan also have no lenders or sellers credits. Prepaids are calculated as 3 times monthly property tax plus monthly homeowners insurance. 
        Same with escrows. Rent appreciation is not factored into the calculations. An Excel model is also included on github of this project that may provide more details than this website.
      </h6>
    </br>
    <hr>

    <h5><u>Enter Inputs Here</u></h5>
    </br>

    <form name="inputData" action="{{ url_for('results') }}" method="post">
      <div class="form-group">
        <label for="purchasePrice"><strong>Purchase Price :-</strong></label>
        <input type="number" class="form-control" name="purchasePrice" placeholder="Enter Purchase Price">
      </div>
      <div class="form-group">
        <label for="ltv"><strong>Loan-To-Value (%) :- </strong>(Note: Mortgage Insurance is not factored into this model if LTV entered is higher than 80% And/Or if Loan is Not a Conventional Loan):-</label>
        <input type="number" class="form-control" name="ltv" placeholder="Enter Loan-To-Value (%)">
      </div>
      <div class="form-group">
        <p><strong>Loan Terms (Yrs) :-</strong></p>
        <input type="radio"  name="term" value="15">
        <label for="term">15 Years</label><br>
        <input type="radio" name="term" value="20">
        <label for="term">20 Years</label><br>  
        <input type="radio" name="term" value="30">
        <label for="term">30 Years</label><br>
      </div>
      <div class="form-group">
        <label for="interestRate"><strong>Interest Rate (%) :-</strong></label>
        <input type="number" step="0.125" class="form-control" name="interestRate" placeholder="Enter Interest Rate (%)">
      </div>
      <div class="form-group">
        <label for="propertyTax"><strong>Estimated Annual Property Taxes :-</strong></label>
        <input type="number" class="form-control" name="propertyTax" placeholder="Enter Estimated Property Taxes ($)">
      </div>
      <div class="form-group">
        <label for="homeownersIns"><strong>Estimated Annual Homwowners Insurance :-</strong></label>
        <input type="number" class="form-control" name="homeownersIns" placeholder="Enter Estimated Homeowners Insurance ($)">
      </div>
      <div class="form-group">
        <label for="rent"><strong>Equivalent or Current Monthly Rent :-</strong></label>
        <input type="number" class="form-control" name="rent" placeholder="Enter Equivalent or Current Rent">
      </div>
      <div class="form-group">
        <label for="appreciation"><strong>Estimated Home Appreciation (%) :-</strong></label>
        <input type="number" step="0.01" class="form-control" name="appreciation" placeholder="Enter Estimated Home Appreciation">
      </div>
      <button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </form>


    <!-- <div class="row">
      <div class="col-md-6">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">CATEGORY</th>
                <th scope="col">VALUE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">NJ Average Sales Price (NJ Division of Taxation):-</th>
                <td>$ 412,284</td>
              </tr>
              <tr>
                <th scope="row">Loan Amount (80% LTV) :-</th>
                <td>$ 329,827</td>
              </tr>
              <tr>
                <th scope="row">Term :-</th>
                <td>30 Years</td>
              </tr>
              <tr>
                <th scope="row">Interest Rate :-</th>
                <td>3.75 %</td>
              </tr>
              <tr>
                <th scope="row">Appreciation Rate (According to past 5-Yr NJ FHFA HPI):-</th>
                <td>3.425 %</td>
              </tr>
            </tbody>
        </table>
      </div>


      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CATEGORY</th>
              <th scope="col">VALUE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Estimated Property Taxes (2.5% of Value):-</th>
              <td>$ 10,307 per Year</td>
            </tr>
            <tr>
              <th scope="row">Estimated Homeowners Insurance :-</th>
              <td>$ 900 per Year</td>
            </tr>
            <tr>
              <th scope="row">Estimated "Going In Costs" (Closing Costs minus Prepaids & Escrows):-</th>
              <td>$ 10,000</td>
            </tr>
            <tr>
              <th scope="row">Equivalent Rent :-</th>
              <td>$ 2,200</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div> -->
  
    <hr>
  </br>

<div id="footer">
  <p>Deepen Patel &copy; 2024</p>
</div>

<hr>

    <div class="row">
          <div class="col-md-10 offset-1">
                <p class="subscript">All information provided in this publication is for informational and educational purposes only,
                  and in no way is any of the content contained herein to be construed as financial, investment, or legal advice or instruction.
                  This website does not guarantee the quality, accuracy, completeness or timelines of the information in this publication.
                  While efforts are made to verify the information provided, the information should not be assumed to be error free.
                  Some information in the publication may have been provided by third parties and has not necessarily been verified by the creator
                  of this website. The creator of this website does not assume any liability for the information contained herein, be it direct,
                  indirect, consequential, special, or exemplary, or other damages whatsoever and howsoever caused, arising out of or in connection
                  with the use of this publication or in reliance on the information, including any personal or pecuniary loss, whether the action
                  is in contract, tort (including negligence) or other tortious action.</p>
          </div>
    </div>

<hr>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>


<script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- <script src="{{ url_for('static', filename='../static/js/d3.js') }}"></script> -->
<script src="{{ url_for('static', filename='../static/js/plotly.js') }}"></script>

<!-- <script type="text/javascript" src="../static/js/d3.js"></script> -->
<!-- <script type="text/javascript" src="../static/js/plotly.js"></script> -->


</body>

</html>
