<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wealth Creation - Real Estate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<div class="container">
  <div class="row">
    <div>
        <img src="../static/images/real_estate.jpg" alt="Real Estate" width="1100px" height="350px"/>
        <hr>
        <div>
          <h1><u><center>Wealth Creation through Real Estate</center></u></h1>
        </div>
    </div>
  </div>

  </br>
  </br>

    <div class="row">
        <h5>When we think about how we are creating wealth through real estate, there are 3 ways that work together simultaneously:
          <u><center>Equity Through Amortization, Housing Appreciation, and Tax Benefits.</center></u></h5>
    </div>

    </br>
    <hr>

    <div class="row">

    <!-- Form Grid -->

    <form class="col-md-10 offset-1" method="POST" action="/send" role="form", name="petform">

      <p><b>To view the charts on the page for a scenario, please fill out the form below and click on "Submit".</b></p>

      <!-- <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-8">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div> -->

      <div class="form-row">
            <div class="form-group col-md-6">
                  <label for="house-price">Purchase Price ($)</label>
                  <input type="number" class="form-control" id="inputPrice" name="purchasePrice" placeholder="100000">      
            </div>
            <div class="form-group col-md-6">
                  <label for="downpayment">Downpayment (%)</label>
                  <input type="number" class="form-control" id="inputDownpayment" name="downpayment" placeholder="20">
            </div>
      </div>
      <div class="form-row">
            <div class="form-group col-md-6">
                  <label for="term">Term (Years)</label>
                  <input type="number" class="form-control" id="inputTerm" name="term" placeholder="30">
            </div>
            <div class="form-group col-md-6">
                  <label for="interest">Interest Rate (%)</label>
                  <input type="number" step="0.125" class="form-control" id="inputInterest" name="interestRate" placeholder="3.75">
            </div>
      </div>        
      <div class="form-row">
            <!-- <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
            </div>
            <div class="form-group col-md-4">
                  <label for="inputZip">Zip Code</label>
                  <input type="number" class="form-control" id="inputZip" placeholder="08648">
            </div> -->
      

          <button type="submit" class="col-md-2 offset-1 btn btn-primary">Submit</button>

      </div>

    </br>

    </form>
    <!-- Form Grid -->

  </div>

  <hr>
  </br>

    <div class="row">
          <div class="col-md-6" id="schedule"></div>

          <div class="col-md-5 offset-1">
                <h6><strong><u>Equity Through Amortization</u></strong></h6>
                <p>Equity through Amortization is simply the home equity that is determined by
                  taking the difference in the purchase price of the house and the loan balance
                  of the mortgage. As you make your monthly mortgage payment, part of each payment
                  is the principal payment that lowers the principal balance or loan balance converting
                  principal into equity. In a sense, this is a forced savings plan. On the left is what your
                  Amortization Chart will look like based on the $412,284 Purchase Price with 20% down
                  payment ($329,827 Loan Amount).
                  <hr>
                  <hr>
                  <hr>
                </p>
          </div>
    </div>
  <hr>
    <div class="row">
          <div class="col-md-5 offset-1">
                <h6><strong><u>Equity Through Appreciation</u></strong></h6>
                <p>Housing Appreciation is the increase in value of your house. Determining this can be tricky
                  so I suggest speaking to your Realtor every year or two and get a Comparative Market Analysis (CMA).
                  This can help us determine the rate of appreciation of your house more accurately as well as how much
                  wealth is created by simply increase in house value. According to Federal Housing Finance Agency and
                  its House Price Index for New Jersey, average housing appreciation is 3.425% per year over the past 5 years.
                  The chart on the right shows how much wealth can be created if this rate of appreciation continues in the future.
                </p>
          </div>
          <div class="col-md-6" id="appreciation"></div>
    </div>
  <hr>
    <div class="row">
          <div class="col-md-10 offset-1">
                <h6><strong><u>Tax Benefits</u></strong></h6>
                <p>There may or may not be Tax Benefits for paying interest and property taxes on a house. It all depends on your
                  tax bracket and how you are filing your taxes. To learn about any tax benefits for owning a house,
                  please consult with your Tax Accountant.
                </p>
          </div>
    </div>
  <hr>
  <hr>
    <div class="row">
          <div class="col-md-10 offset-1">
                <h6><strong><u>How Much Wealth Can Be Created?</u></strong></h6>
                <p>There are 3 major decisions that have a huge impact on our long-term financial well-being:
                  Going to College, Buying a Car, and Buying a House. Obviously, we cannot predict the future but like
                  any kind of investment we can determine the risks and make a calculated move. In this section we can look at
                  an example scenario to put a dollar amount on the wealth that can be created. If you would like me to run a
                  different scenario for you then I am more than happy to do that.
                </p>
          </div>
    </div>
  <hr>
    <div class="row">
          <div class="col-md-5 offset-1">
                <h6><strong><u>Net Wealth Created</u></strong></h6>
                <p>As we discussed on earlier that there are 3 ways to gain wealth through homeownership. I do not want to speculate
                  on the tax benefits but bringing the numbers for Equity through Amortization, House Appreciation as well as the
                  difference in monthly housing payments between owning and renting together, we can see how much wealth is created
                  over the first 10 years in the chart on the right.
                </p>
                <p>When taking all assumptions into account, the difference in Cash Flows between buying and renting, the gain in Equity
                  through Amortization as well as Appreciation we can determine the dollar amount attributed to the amount of wealth
                  created through owning the house. The chart projects the next 10 years of wealth creation.
                </p>
          </div>
          <div class="col-md-6" id="wealth"></div>
    </div>

  <hr>
      <h6><strong><u>Assumptions</u></strong></h6>
      <p>There are some assumptions made to factor into the model:</p>
      <ul>- Property taxes are estimated at <b>2%</b> of property value</ul>
      <ul>- Homeowners Insurance is estimated at <b>$900 per year</b></ul>
      <ul>- Estimated "Going In Costs" (Closing Costs minus Prepaids & Escrows) are <b>$10,000</b></ul>
      <ul>- Equivalent Rent is estimated at <b>$2,200</b></ul>
      <ul>- Mortgage Insurance for downpayments of less than 20% is not included in this analysis. <i><b>{Coming Soon}</b></i></ul>
      <ul>- Annual inflation is also estimated at <b>2%</b></ul>
      <p>Please keep in mind that some of these estimates may be overestimated or underestimated as it 
        depends on the location of the property. Refer to a local professional to get more accurate estimates.</p>
  <hr>



    <div class="row">
          <div class="col-md-10 offset-1">
                <p class="subscript">All information provided in this publication is for informational and educational purposes only,
                  and in no way is any of the content contained herein to be construed as financial, investment, or legal advice or instruction.
                  This website does not guarantee the quality, accuracy, completeness or timelines of the information in this publication.
                  While efforts are made to verify the information provided, the information should not be assumed to be error free.
                  Some information in the publication may have been provided by third parties and has not necessarily been verified by the creator
                  of this website. The creator of this website does not assume any liability for the information contained herein, be it direct,
                  indirect, consequential, special, or exemplary, or other damages whatsoever and howsoever caused, arising out of or in connection
                  with the use of this publication or in reliance on the information, including any personal or pecuniary loss, whether the action
                  is in contract, tort (including negligence) or other tortious action.</p>
          </div>
    </div>

<hr>

<div class="col-md-8 offset-8" id="footer">
    <p>Deepen Patel &copy; 2020</p>
</div>

<hr>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>


<script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- <script src="{{ url_for('static', filename='../static/js/d3.js') }}"></script> -->
<script src="{{ url_for('static', filename='../static/js/plotly.js') }}"></script>

<!-- <script type="text/javascript" src="../static/js/d3.js"></script> -->
<!-- <script type="text/javascript" src="../static/js/plotly.js"></script> -->


</body>

</html>
